#home_page {
  background-image: url('../images/cars.jpg');
  background-attachment: fixed;
  background-size: cover;
  /* background-size: 100% 100%;  */
}

.home_content {
  text-align: center;
  background-color: white;
  margin: 0em 5em;
  padding: 1em;
}

.home_bio {
  margin-bottom: 2.5em;
}

.main_row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.home_bio > h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 5em;
  color: #171828;
}

.card-title {
  font-weight: bolder;
  font-size: 1.5em;
  color: #171828;
}

#pillars {
  margin-top: 10em;
  margin-bottom: 3em;
}

/* APP LOGO SPINNING */
.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  .home_content {
    margin: 0em 5em;
  }
}
@media (max-width: 768px) {
  .home_content {
    margin: 0em 4em;
  }
}
@media (max-width: 576px) {
  .home_content {
    margin: 0em 2em;
  }
}

/* ABOUT PAGE */
.about_proj > h1 {
  margin-top: .5em;
  font-family: 'Bebas Neue', cursive;
  font-size: 4em;
  color: #171828;
}

strong > a {
  color: #db845f;
}

strong > a:hover {
  color: #bc5937;
}

/* DETAIL PAGES */
.pagination {
  margin: 25px 0px;
  justify-content: center;
}

.d-link {
  font-weight: bold;
  color: #db845f !important;
}

.d-link:hover {
  color: #bc5937 !important;
}

.team-link {
  font-weight: bold;
  font-size: 1.75em;
  color: #db845f !important;
}

.team-link:hover {
  color: #bc5937 !important;
}